body
{
	height: 2000px;
	width: 100%;
}

header
{
	text-align: center;
	font-size: 50px;
	width: 100%;
	background-color: black;
	position: fixed;
	color: white;
	top:0px;
	left: 0;
	z-index: 1;
}

header nav a
{
	font-size: 20px;
	text-decoration: none;
	color: white;
}

header nav a:hover
{
	text-decoration: underline;
}

#flag
{
	height: 25%;
	width: 100%;
	background-image: url("../imgs/americanFlag.jpg");
	background-attachment: fixed;
	margin-left: 0;
	padding-left: 0;
}

#picture1
{
	height: 25%;
	width: 100%;
	background-image: url("../imgs/1.jpg");
	background-attachment: fixed;
	margin-left: 0;
	padding-left: 0;
}

#picture2
{
	height: 25%;
	width: 100%;
	background-image: url("../imgs/2.jpg");
	background-attachment: fixed;
	margin-left: 0;
	padding-left: 0;
}

#picture3
{
	height: 25%;
	width: 100%;
	background-image: url("../imgs/3.jpg");
	background-attachment: fixed;
	margin-left: 0;
	padding-left: 0;
}

#top
{
	height: 75%;
	width: 75%;
	position: relative;
	left: 150px;
	top: 175px;
	background-color: rgba(255,255,255,0.7);
}

.content
{
	height: 100%;
	width: 75%;
	position: relative;
	left: 150px;
	background-color: rgba(255,255,255,0.7);
}